@import './reset.scss';
@import './props.scss';

//@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  background: $color-6;
  color: $color-10;
  overflow: hidden;
}

.header {
  margin: 2em 0;
}

.scroll-y {
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */

  & >div:last-child {
    margin-bottom: 10em;
  }
}
.scroll-y::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.pt1 {
  padding-top: 1em;
}
.pb1 {
  padding-bottom: 1em;
}
.mt1 {
  margin-top: 1em;
}
.mb1 {
  margin-bottom: 1em;
}